body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #151414;
  color: #333;
}

header {
  background: #463b3f;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  padding: 30px;
  max-width: 600px;
  margin: auto;
}

.about, .donate {
  background: white;
  margin-top: 20px;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background: #e91e63;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #c2185b;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.img {
  
  padding: 10px;
  border-image: fill;
  size: 20px
  


}
.image-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  transition: transform 0.4s ease;
}

.image-container img:hover {
  transform: scale(1.1);
}